[app:main]
use = egg:nozama-cloudsearch

pyramid.reload_templates = false
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.debug_templates = false
pyramid.default_locale_name = en

# don't use as it screws JSON on exception handling: pyramid_debugtoolbar
pyramid.includes =


# Mongo document backend store details:
mongodb.dbname = testing-cloudsearch
mongodb.port = 27017
mongodb.host = 127.0.0.1


[server:main]
use = egg:waitress#main
host = $interface
port = $port


# Begin logging configuration

[loggers]
keys = root, content, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_content]
level = DEBUG
handlers =
qualname = content

[logger_sqlalchemy]
level = INFO
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
